{% extends 'base.html' %}

{% block title %}
<title>Lab Book - Make new booking</title>
{% endblock %}

{% block content %}
<div class="content">
    <h1>Lab Book</h1>
    <h2>New Booking</h2>
    <h4>Choose a room:</h4>

    
    
    <div class="container">
        <div class="form-inline">
            <form action="/book/" method="POST">
                <select class="custom-select" id="rooms" name="rooms">
                    {% for room in rooms %}
                        <option value="{{ room['id'] }}">{{ room['name'] }}</option>
                    {% endfor %}
                </select>
                <input type="submit" class="btn btn-light" value="View available dates">
            </form>
        </div>
    </div>
</div>
{% endblock %}