{% extends 'base.html' %}

{% block title %}
<title>Lab Book - Make new booking</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Make a new booking</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h4>Choose a room:</h4>

            <div class="form">
                <form action="/book/" method="POST">
                    <div class="form-group">
                        <select class="form-control" id="rooms" name="rooms">
                            {% for room in rooms %}
                                <option value="{{ room['id'] }}">{{ room['name'] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="View available dates">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}