{% extends 'base.html' %}

{% block title %}
<title>LabBook - My Bookings</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
        {%with messages = get_flashed_messages()%}
            {%if messages%}
                {%for message in messages%}
                    <div class="alert alert-success" role="alert">
                        {{message}}
                    </div>
                {%endfor%}
            {%endif%}
        {%endwith%}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Profile</h2>
            <div class="alert alert-secondary" role="alert">
                <h4>{{current_user.name}}</h4>
                <h5>{{current_user.email}}</h5>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-8">
                    <h2>Future bookings</h2>
                </div>
                <div class="col-md-4">
                    <a href="/book/" class="btn btn-primary btn-block" role="button">+ New booking</a>
                </div>
            </div>
            
            {% if not bookings %}
                <p>You have no confirmed bookings.</p>
            {% else %}

            <ol class="days list-unstyled  text-center">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Room</th>
                            <th>Status</th>
                            <th>Floor load</th>
                            <th>Actions</th>
                            
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for booking in bookings %}
                            <tr>
                                <td>{{ prettify_when(booking['when']) }}</td>
                                <td>{{ booking['room']['name'] }}</td>
                                
                               
                                <td>
                                    {% if booking['status'] == 'approved'%}
                                        
                                        <p class=" text-success">Approved</p>
                                    {% elif booking['status'] == 'denied' %}
                                         <p class=" text-danger">Denied</p>
                                    {% else %}
                                        <p class=" text-primary">Pending</p>    
                                    {% endif %}
                                </td>
                                <td> 
                                    <div class="progress" style="height: 20px;">
                                        {% if booking['value_rel'] == 100 %}
                                            <div class="progress-bar bg-danger" role="progressbar" style="width: {{booking['value_rel']}}%;" 
                                             aria-valuenow="{{booking['value_rel']}}" aria-valuemin="0" aria-valuemax="100">
                                        {% else %}
                                            <div class="progress-bar" role="progressbar" style="width: {{booking['value_rel']}}%;" 
                                            aria-valuenow="{{booking['value_rel']}}" aria-valuemin="0" aria-valuemax="100">
                                        {% endif %}

                                        {{booking['value_abs']}}
                                            </div>
                                      </div>

                                </td>
                                <td>
                                    <a type="button" class="btn btn-danger btn-sm" href="/cancel-booking/{{ booking['id'] }}/">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            </ol>
            
        </div>
    </div>
</div>
{% endblock %}