{% extends 'base.html' %}

{% block title %}
<title>LabBook - My Bookings</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {%with messages = get_flashed_messages()%}
                {%if messages%}
                    {%for message in messages%}
                        <div class="alert alert-success" role="alert">
                            {{message}}
                        </div>
                    {%endfor%}
                {%endif%}
            {%endwith%}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger" role="alert">
                This page would only be available to administrators. However, we are showing it to you for the purpouses of the demo.  
            </div>
            <h2>Manage bookings</h2>
            {% if not bookings %}
                <p>There are no requested bookings.</p>
            {% else %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>User</th>
                            <th>Room</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for booking in bookings %}
                            <tr>
                                <td>{{ prettify_when(booking['when']) }}</td>
                                <td>{{ booking['who']['name'] }}</td>
                                <td>{{ booking['room']['name'] }}</td>
                                <td>
                                    <!--<a class="text-danger" href="/cancel-booking/{{ booking['id'] }}/">Cancel</a>-->
                                    <a type="button" class="btn btn-success btn-sm" href="/approve-booking/{{booking['id']}}/">Approve</a>
                                    <a type="button" class="btn btn-danger btn-sm" href="/deny-booking/{{booking['id']}}/">Deny</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}