{% extends "base.html" %}

{% block script %}
    {{ plot_code | safe}}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Status</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>Information will be here.</p>
        </div>
        <div class="col-md-6">
            <canvas id="bar-chart" width="400" height="250"></canvas>
        </div>
    </div>
</div>
{% endblock %}