{% extends "base.html" %}

{% block title %}
<title>LabBook - Status2</title>
{% endblock %}

{% block script %}
    {{ plot_code | safe}}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mb-2">
        <div class="col-md-7">
            <h2>Building status</h2>
        </div>

        <div class="col-md-2 text-right">
            <h2>{{building}}</h2>
        </div>

        <div class="col-md-3 text-right">
            <h2>{{pretty_month}}</h2>
            <a href="/status/building/{{building}}/{{prev_month}}/">&#8592; Previous</a> &middot; 
            <a href="/status/building/{{building}}/{{next_month}}/">Next &#8594;</a>
        </div>
        
        
    </div>
    <div class="row">
        <div class="col-md-12">
            <canvas id="bar-chart" width="600" height="200"></canvas>
        </div>
    </div>
</div>
{% endblock %}