{% extends "base.html" %}

{% block script %}
<script>
// Bar chart
new Chart(document.getElementById("bar-chart"), {
    type: 'bar',
    data: {
      labels: ["Africa", "Asia", "Europe", "Latin America", "North America"],
      datasets: [
        {
          label: "Population (millions)",
          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
          data: [2478,5267,734,784,433]
        }
      ]
    },
    options: {
      legend: { display: false },
      title: {
        display: true,
        text: 'Predicted world population (millions) in 2050'
      }
    }
});

</script>

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1 class="display-4">Status</h1>
        </div>
        <div class="row">
            <div class="col-sm">
                <p>Information will be here.</p>
            </div>
            <div class="col-sm">
                <canvas id="bar-chart" width="800" height="450"></canvas>
            </div>
        </div>
        

        

    </div>
{% endblock %}