{% extends 'base.html' %}

{% block title %}
<title>LabBook - Team Info</title>
{% endblock %}

{% block content %}

<!-- Header -->
<div class="container">
    <div class="bg-light pricing-header p-3 mb-2 mx-auto text-center">
    
    <h1 class="font-weight-light text-dark">Meet the Team</h1>
    </div>  
</div>

  

<div class="container">
    <div class="row">
      <!-- Team Member 1 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="{{ url_for('static', filename='olesia.jpg') }}" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Olesia Altunina</h5>
            <div class="card-text text-black-50">olesia.altunina(at)mail.ru</div>
          </div>
        </div>
      </div>
      <!-- Team Member 2 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="{{ url_for('static', filename='kulik.jpg') }}" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Sergey Kulik</h5>
            <div class="card-text text-black-50">sergey(at)kulik@epfl.ch</div>
          </div>
        </div>
      </div>
      <!-- Team Member 3 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="{{url_for('static', filename='david.jpg')}}" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">David Roesel</h5>
            <div class="card-text text-black-50">david.roesel(at)epfl.ch</div>
            
          </div>
        </div>
      </div>
      <!-- Team Member 4 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="{{ url_for('static', filename='maksim.jpg') }}" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Maksim Eremchev</h5>
            <div class="card-text text-black-50">maksim.eremchev(at)epfl.ch</div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  
  </div>






<!-- Page Content 
<div class="container">
    <div class="column">
      <div class="card">
        <img src="{{ url_for('static', filename='img1.jpg') }}" alt="Jane" style="width:100%">
        <div class="container">
          <h2>David Roesel</h2>
          
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>example@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="{{ url_for('static', filename='img2.jpg') }}" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Sergey Kulik</h2>
          
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>example@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>




    <div class="column">
      <div class="card">
        <img src="{{ url_for('static', filename='img3.jpg') }}" alt="John" style="width:100%">
        <div class="container">
          <h2>Olesia Altunina</h2>
          
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>example@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>


  <div class="column">
    <div class="card">
      <img src="{{ url_for('static', filename='img4.jpg') }}" alt="John" style="width:100%">
      <div class="container">
        <h2>Maksim Starlord</h2>
        
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>
-->


  {% endblock %}